#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.avatar {
  border-radius: 50%;
}

.products {
  list-style: none;
  font-weight: 500;
}

.card {
  font-family: "Poppins", sans-serif;
  background-color: rgb(57, 204, 209);
  width: 80%;
  max-width: 200px;
  margin: 100px auto;
  border-radius: 12px;
  box-shadow: 0 14px 15px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
  transition: all .3s ease-in;
}

.card img:hover {
  transform: translateY(-2px);
}


.card p {
  font-weight: 500;
}

.product-card {
  background-color: rgb(57, 204, 209);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 19px;
  padding: 15px;
  border-radius: 10px;
}

.product-card .cardP {
  background-color: aquamarine;
  border-radius: 10px;
  box-shadow: 0 14px 18px rgba(0, 0, 0, 0.3);
  padding-bottom: 20px;
  position: relative;

}

.cardP h3 {
  font-weight: 500;
  padding-bottom: 10px;
  width: 100%;
}

.cardP p {
  font-weight: 500;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding-top: 10px;

}

h1 {
  width: 100%;
  /* width: 250px; */
  margin: 50px auto;
  font-size: 40px;
}

ul {
  width: 350px;
  display: flex;
  gap: 50px;
  margin: 40px auto;
}

li {
  list-style: none;
  font-size: larger;
  margin: 10px;
}

.productItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productItems .listItems {
  padding-right: 95px;
  width: 800px;
}

.productItems h3 {
  margin-bottom: 10px;
}

.nonFruits {
  width: 400px;
  margin-top: 15px;
}

.totalPrice {
  font-weight: 600;
  font-size: larger;
  border-bottom: 2px solid purple;
  /* padding-bottom: 40px; */
}